*.iml
.gradle
.idea
.DS_Store
/build
/app/build
/local.properties
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
*.jks

# compliance: do not commit Xposed/VIP modules
xposed-adblock/
vip-module/
